.image-preview {
	max-width: 80px;
	max-height: 80px;
}
.image-preview {
	max-width: 150px;
	max-height: 150px;
}
.row.label {
	margin: 10px 0;
	font-size: 16px;
	line-height: 20px;
}
.row.label .span2 {
	margin-left: 0;
}
td .row.label {
	margin: 10px 0 10px -30px;
}
